body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    color: #3E3E3E;
    margin: 0;
}
h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0;
}
.color-orange {
    color: #FFAD54;
}
a {
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 12px 30px;
    border-radius: 5px;
}
.focused-section {
    display: flex;
    padding-left: 150px;
}
.focused-section p {
    width: 70%;
}
.focused-section img {
    width: 80%;
}
.h1-div {
    border-left: 4px solid #FF5959;
    border-radius: 2px;
    padding-left: 15px;
    margin-top: 200px;
}
.width-50 {
    width: 50%;
}
.top-margin {
    margin-top: 30px;
}
.bottom-margin {
    margin-bottom: 30px;
}
h2 {
    font-size: 48px;
    color: #13103A;
    text-align: center;
}
h4 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 0;
}
.mission-section {
    display: flex;
    justify-content: center;
}
.width-22 {
    width: 22%;
    padding: 30px;
    margin: 0 12px;
    border-radius: 30px;
}
.width-22 img {
    width: 40%;
}
.width-22 p {
    font-size: 16px;
}
.bg-blue {
    background: rgba(79, 157, 166, .1);
}
.bg-pink {
    background: rgba(255, 89, 89, .1);
}
.bg-orange {
    background-color: #FFF4D6;
}
h3 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
}
.limits-section {
    display: flex;
    margin-top: 100px;
}
.limits-section img {
    width: 70%;
}
.limits-section p {
    width: 90%;
}
.width-40 {
    width: 40%;
    text-align: right;
    margin-right: 80px;
}
